# Server Configuration
PORT=3005
NODE_ENV=production

# OneSignal
# REST API Key is required for sending notifications from the backend
ONESIGNAL_REST_API_KEY=

# Stripe
STRIPE_SECRET_KEY=

# Gemini
GEMINI_API_KEY=
